@model WebSite.Models.UserInputViewModel
@{
	ViewBag.Title = "Ввод данных";
}


@using (Html.BeginForm("ProcessText", "Home", FormMethod.Post, new { role = "form" })) {

	<div class="div">
		@Html.LabelFor(m => m.Word, new { @class = "label" })
		@Html.TextBoxFor(m => m.Word, new { @class = "input" })
		@Html.ValidationMessageFor(m => m.Word)
	</div>
	<div class="div">
		@Html.LabelFor(m => m.IsActionChecked, new { @class = "label" })
		@Html.CheckBoxFor(m => m.IsActionChecked, new { @class = "input" })
	</div>
	<div class="div">
		<input type="submit" class="button" value="Выполнить" />
	</div>
}